@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy/Gilroy-Medium.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
